<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>PortFolio</display-name>
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<display-name>AdminLogin</display-name>
		<description></description>
		<servlet-class>com.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeCredential1</servlet-name>
		<display-name>ChangeCredential1</display-name>
		<description></description>
		<servlet-class>com.controller.ChangeCredential1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeCredential2</servlet-name>
		<display-name>ChangeCredential2</display-name>
		<description></description>
		<servlet-class>com.controller.ChangeCredential2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Contact</servlet-name>
		<display-name>Contact</display-name>
		<description></description>
		<servlet-class>com.controller.Contact</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<display-name>Delete</display-name>
		<description></description>
		<servlet-class>com.controller.Delete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteEducation</servlet-name>
		<display-name>DeleteEducation</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteEducation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteProjectFile</servlet-name>
		<display-name>DeleteProjectFile</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteProjectFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadResume</servlet-name>
		<display-name>DownloadResume</display-name>
		<description></description>
		<servlet-class>com.controller.DownloadResume</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Education</servlet-name>
		<display-name>Education</display-name>
		<description></description>
		<servlet-class>com.controller.Education</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Education2</servlet-name>
		<display-name>Education2</display-name>
		<description></description>
		<servlet-class>com.controller.Education2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadAdminLogin</servlet-name>
		<display-name>ReadAdminLogin</display-name>
		<description></description>
		<servlet-class>com.controller.ReadAdminLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadEducation</servlet-name>
		<display-name>ReadEducation</display-name>
		<description></description>
		<servlet-class>com.controller.ReadEducation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateEducation</servlet-name>
		<display-name>UpdateEducation</display-name>
		<description></description>
		<servlet-class>com.controller.UpdateEducation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadProject1</servlet-name>
		<display-name>UploadProject1</display-name>
		<description></description>
		<servlet-class>com.controller.UploadProject1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadProject2</servlet-name>
		<display-name>UploadProject2</display-name>
		<description></description>
		<servlet-class>com.controller.UploadProject2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadResume</servlet-name>
		<display-name>UploadResume</display-name>
		<description></description>
		<servlet-class>com.controller.UploadResume</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeCredential1</servlet-name>
		<url-pattern>/ChangeCredential1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeCredential2</servlet-name>
		<url-pattern>/ChangeCredential2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/Contact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/Delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteEducation</servlet-name>
		<url-pattern>/DeleteEducation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProjectFile</servlet-name>
		<url-pattern>/DeleteProjectFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadResume</servlet-name>
		<url-pattern>/DownloadResume</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Education</servlet-name>
		<url-pattern>/Education</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Education2</servlet-name>
		<url-pattern>/Education2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadAdminLogin</servlet-name>
		<url-pattern>/ReadAdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadEducation</servlet-name>
		<url-pattern>/ReadEducation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEducation</servlet-name>
		<url-pattern>/UpdateEducation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadProject1</servlet-name>
		<url-pattern>/UploadProject1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadProject2</servlet-name>
		<url-pattern>/UploadProject2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadResume</servlet-name>
		<url-pattern>/UploadResume</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
